= @entry.blog.title

%p#notice= notice
%p
  %strong Title:
  = @entry.title
%p
  %strong Body:
  = simple_format(@entry.body)
= link_to 'Edit', edit_entry_path(@entry)
|
= link_to 'Back', blog_path(@entry.blog)

= render :partial => 'comments/list'

%h2 New comment
= render :partial => 'comments/form'
